/* solarios.component.css */
.favoritos-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Adicionado para centralizar os itens verticalmente */
    text-align: center; /* Adicionado para centralizar o texto */
  }
  
  .favoritos-items {
    display: flex;
    justify-content: center;
    align-items: center; /* Adicionado para centralizar os itens verticalmente */
    flex-direction: column; /* Alteração para empilhar os itens verticalmente */
    margin-top: 10px;
  }
  
  .favorito-item {
    width: 400px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 15px;
    cursor: pointer;
    text-align: left;
  }
  
  .favorito-info {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .favorito-image {
    max-width: 100%;
    height: auto;
  }
  