<div class="filter-container">
  <label for="filterBy">Filter by:</label>
  <select id="filterBy" [(ngModel)]="selectedFilter">
    <option value="genre">Genre</option>
    <option value="year">Year</option>
    <option value="decade">Decade</option>
  </select>
  <input type="text" [(ngModel)]="filterValue" placeholder="Enter value">
  <button (click)="applyFilter()">Filter</button>
</div>
<div *ngIf="movies.length > 0; else noMovies">
  <h2>Recommended Movies</h2>
  <div class="movie-list">
    <div *ngFor="let movie of movies" class="movie-item">
      <div class="movie-content">
        <img [src]="movie.url" alt="Capa do Filme" class="movie-image">
        <div class="movie-title">{{ movie.title }}</div>
        <div class="movie-nelson">({{ movie.count }} rates , {{ movie.weighted_rating | number:'1.2-2' }} ★)</div>

      </div>
    </div>
  </div>
</div>

<div class="no-movies-container">
  <ng-template #noMovies>
    <p class="no-movies-text">No movies recommended for now.</p>
  </ng-template>
</div>
