h2 {
    text-align: center;
    margin-top: 30px;
    font-size: 50px;
    margin-bottom: 50px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .form-container {
    text-align: center;
    width: 300px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    margin-left: 500px;

    display: block;
  }
  
  input {
    width: 30%;
    padding: 8px;
    font-size: 16px;
    margin-top: 2px;
    margin-left: 500px;
  }
  
  button {
    margin-left: 650px;
    margin-top: 10px;
    width: 10%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  .error-message {
    margin-top: 5px;
    font-size: 20px;
    text-align: center;
    color: red;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  .spinner-border {
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    vertical-align: text-bottom;
    border: 0.25em solid currentColor;
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
  }
  
  @keyframes spinner-border {
    to { transform: rotate(360deg); }
  }
  